<div class="header">

    <div class="header__menu">
    </div>
    <div class="header__menu header__menu--right">
         <a class="header__item" [routerLink]="'blog'" *ngIf="pages"
            [routerLinkActive]="['header__item--active']">
            <span>Blog</span>
         </a>
         <a class="header__item" *ngFor="let page of pages" [routerLink]="page.slug"
           [routerLinkActive]="['header__item--active']" >
             <span [translate]="page.title.rendered"></span>
         </a>
        <a class="header__item" [routerLink]="'blog'" *ngIf="pages">
                <span>ENG</span>
        </a>
    </div>
</div>

<ng-template #menuloading>
    <div class="header__item">
        načítám
    </div>
</ng-template>

