
    <ng-container *ngIf="post">
      <div class="article-detail__imageFrame"
           [style.backgroundImage]="'url('+ post.better_featured_image?.media_details?.sizes?.large?.source_url +')'">
        <img src="{{post.better_featured_image?.media_details?.sizes?.medium?.source_url}}">
      </div>

      <div class="article-detail__frame">
        <h1 class="article-detail__title"[innerHTML]="post.title.rendered"></h1>
          <div class="article-detail__date"> {{post.date | date: 'dd/MM/yyyy'}}</div>
          <div class="article-detail__content" [innerHTML]="post.content.rendered"></div>
          <div class="article-detail__arrow" [routerLink]="'/blog'"><</div>
      </div>
    </ng-container>

  <div *ngIf="!post">
      <div class="loading">
        <div class="js-loading-indicator triple"></div>
      </div>
  </div>
