
.index
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between

  &__left

  &__right
    img
      max-width: 400px
      height: auto
      position: relative
      right: 146px
      top: 66px

  &__content
    background-color: red
    width: 100%
    display: flex
    flex-direction: column

  &-skills
    display: flex
    flex-direction: row
    width: 100%

    &__item
      display: block
      height: 103px
      width: 55px
      padding-top: 57px
      //border-left: 1px solid #4a4d4e
      text-align: center
      background-color: blue
      transform: skewX(-13deg) skewY(0)
