@import "../variables"

.index
  width: 100%
  display: flex
  flex-direction: row
  justify-content: space-between

  &__left

  &__right

  &__content
    background-color: red
    width: 100%
    display: flex
    flex-direction: column