$width-right: 45%
$panel-color: #15141a

.header
  width: 100%
  height: 65px
  display: flex
  flex-direction: row

  &:before
    content: ''
    width: $width-right
    height: 65%
    background-color: $panel-color
    right: 0
    position: absolute
    top: 0
    z-index: -1

  &__menu
    display: flex
    flex-direction: row
    align-self: center
    justify-content: flex-start
    width: calc(100% - #{$width-right})

    &--right
      z-index: 5
      position: fixed
      width: 100%
      max-width: 900px
      justify-content: flex-end
      right: 0
      //width: $width-right
      height: 65px
      display: flex
      align-items: center

  &__item
    height: 100%
    align-items: center
    display: flex
    transform: skewX(-52deg) skewY(0)
    background-color: black
    padding: 0 40px
    //margin: 0 25px
    color: white
    position: relative
    text-decoration: none
    border-right: 1px solid black
    border-left: 1px solid black
    transition: all .1s

    &:hover
      background-color: gray

    &--active
      &:after
        content: ''
        width: 50%
        top: 42px
        height: 4px
        background-color: white
        position: absolute
        left: 35%
        animation: animation-show .2s

    &:last-child
      border-right: 0
      border-left: 0
      margin-left: -2px
      transition: all .1s

      &:hover
        &:before
          background-color: gray


      &:before
        content: ''
        position: absolute
        height: 65px
        width: 60px
        right: 0
        top: 0
        transform: skewX(52deg) skewY(0)
        background-color: black

    span
      transform: skewX(52deg) skewY(0)

@keyframes animation-show
  0%
    width: 0
  100%
    width: 50%
