$width-right: 45%
$panel-color: #15141a

.header
  width: 100%
  height: 65px
  display: flex
  flex-direction: row

  &:before
    content: ''
    width: $width-right
    height: 65%
    background-color: $panel-color
    right: 0
    position: absolute
    top: 0
    z-index: -1

  &__menu
    display: flex
    flex-direction: row
    align-self: center
    justify-content: flex-start
    width: calc(100% - #{$width-right})

    &--right
      z-index: 5
      position: fixed
      width: 100%
      max-width: 900px
      justify-content: flex-end
      right: 0
      //width: $width-right
      height: 65px
      display: flex
      align-items: center

  &__item

    position: relative
    height: 100%
    align-items: center
    display: flex
    //transform: skewX(-52deg) skewY(0)
    background-color: black
    padding: 0 20px
    //margin: 0 25px
    color: white
    text-decoration: none
    border-right: 1px solid black
    border-left: 1px solid black
    transition: all .1s

    &:hover
      .header-box
        visibility: visible
        border-radius: 0!important

    &--active
      &:after
        content: ''
        width: calc(100% - 40px)
        top: 42px
        height: 4px
        background-color: white
        position: absolute
        //left: 35%
        animation: animation-show .2s

    &:last-child
      border-right: 0
      border-left: 0
      margin-left: -2px
      transition: all .1s

      &:hover
        background-color: black

      span
        width: 23.2px

      //&:before
        // content: ''
        // position: absolute
        // height: 65px
        // width: 60px
        // right: 0
        // top: 0
        // transform: skewX(52deg) skewY(0)
        // background-color: black

    //span
      //transform: skewX(52deg) skewY(0)

@keyframes animation-show
  0%
    width: 0
  100%
    width: 50%

.header-box
  visibility: hidden
  position: absolute

  &--LT
    left: 0
    right: 0
    top: 5px
    border-right-width: 0
    border-bottom-width: 0
    border-radius: 90% 0 0
    content: ""
    width: 15px
    height: 15px
    opacity: 1
    border-style: solid
    border-image: initial
    border-color: rgb(255, 255, 255)
    transition: border-radius 250ms ease 0s, border-color 250ms ease 0s, border-width 250ms ease 0s, opacity 250ms ease 0s, transform 250ms ease 0s

  &--LB
    bottom: 5px
    left: 0
    border-right-width: 0
    border-top-width: 0
    border-radius: 0 0 0 90%
    content: ""
    width: 15px
    height: 15px
    opacity: 1
    border-style: solid
    border-image: initial
    border-color: rgb(255, 255, 255)
    transition: border-radius 250ms ease 0s, border-color 250ms ease 0s, border-width 250ms ease 0s, opacity 250ms ease 0s, transform 250ms ease 0s

  &--RT
    top: 5px
    right: 0
    border-left-width: 0
    border-bottom-width: 0
    border-radius: 0 90% 0 0
    content: ""
    width: 15px
    height: 15px
    opacity: 1
    border-style: solid
    border-image: initial
    border-color: rgb(255, 255, 255)
    transition: border-radius 250ms ease 0s, border-color 250ms ease 0s, border-width 250ms ease 0s, opacity 250ms ease 0s, transform 250ms ease 0s

  &--RB
    bottom: 5px
    right: 0
    border-left-width: 0
    border-top-width: 0
    border-radius: 0 0 90% 0
    content: ""
    width: 15px
    height: 15px
    opacity: 1
    border-style: solid
    border-image: initial
    border-color: rgb(255, 255, 255)
    transition: border-radius 250ms ease 0s, border-color 250ms ease 0s, border-width 250ms ease 0s, opacity 250ms ease 0s, transform 250ms ease 0s
