<div class="content">
  <div class="post-list__list">
    <ng-container *ngIf="posts">
        <div [routerLink]="stateIndex ? 'blog/' + post.slug : post.slug"
             class="post-list__item" *ngFor="let post of posts">
          <div class="post-list__img" [style.backgroundImage]="'url(' + post?.better_featured_image?.media_details.sizes.medium_large.source_url + ')'">
          </div>
          <div class="post-list__category"> článek </div>
          <div *ngIf="post.title.rendered" class="post-list__title"> {{ post.title.rendered}} </div>
          <div class="post-list__excerpt" [innerHTML]="post.excerpt.rendered"></div>
        </div>
    </ng-container>
  </div>

  <div class="pagination" *ngIf="posts && !stateIndex">
    <div class="pagination__arrow" (click)="previousPage()"
         [ngClass]="{'pagination__arrow--disabled': this.currentPage <= 1}">
      <i class="fas fa-angle-left"></i>
      zpět
    </div>

    <div class="pagination__item">
      {{currentPage}}
    </div>

    <div class="pagination__arrow" (click)="nextPage()"
         [ngClass]="{'pagination__arrow--disabled': this.posts.length < this.maxPostsPerPage}">
      další
      <i class="fas fa-angle-right"></i>
    </div>
  </div>

  <div routerLink="/blog" *ngIf="stateIndex" class="pagination__button">
    Přejít na blog
  </div>

  <ng-container *ngIf="!posts">
    <div class="loader-wrapper">
      <div class="loader">
        <div class="ball"></div>
        <div class="ball"></div>
        <div class="ball"></div>
      </div>
      <div class="text">Načítám...</div>
    </div>
  </ng-container>
</div>
