//colors
$gray: #15141a

//headings
h1
  font-size: 45px
  color: black

h2
  color: $gray

//div
.app-content
  display: flex
  flex-direction: column
  width: 100%
  margin: auto
  max-width: 1210px

